<div class="top-bar">
    <div class="level-container">LEVEL
        <div class="level"></div>
    </div>
    <div class="control-bar__progress">
        <p class="progress__information">0 / 0</p>
        <div class="progress__progress-bar">
            <div class="current_progress"></div>
        </div>
    </div>
</div>

<section class="items">
    {{#each tasks}}
        <div class="task" data-id={{this._id}}>
            <div class="task__description">
                <h5 class="task__decription__title">{{this.name}}</h5>
                <p class="task__decription__time">{{{remainingDays this.remainingDays}}} - {{this.lectureName}}</p>
            </div>

            <div class="task__xp">{{this.xp}}</div>
            <div class="task__edit"><i class="fa fa-pencil"></i></div>
        </div>
    {{/each}}
</section>


